<!DOCTYPE html>
<html>
<head>
 <title>Hogwarts School</title>
</head>
<body>
 <nav>
   <ul>
     <li><a href="/hogwarts-students">All Student</a> </li>
     <li> <a href="/hogwarts-students/new">New Student</a> </li>
   </ul>
 </nav>
 <%= yield %>
</body>
</html>
